[Unit]
Description=Discord Bot for playing music written in JavaScript
Documentation=https://github.com/TheProphetOfRa/discord_dj
After=network.target

[Service]
Type=simple
User=discord_dj
ExecStart=/usr/bin/node /opt/discord_dj/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
